@import "../../../scss/common.module";

$toggle-button-width: 100px;

.Layers {
  position: absolute;
  z-index: 1000;
}

.ActiveLayers {
  background-color: rgba(#fff, 0.8);
  border-radius: $border-radius-lg;
  border-top-left-radius: 0px;
  border: solid $gray-800 1px;
  left: $padding-size + 1px;
  min-width: calc(#{$toggle-button-width} + #{$border-radius});
  padding: $padding-size / 2;
  position: relative;
  top: 52px + 48px;
  z-index: 1050;
  .LayerLabel {
    font-size: 75%;
  }
}

.LayerLabel {
  border-bottom: solid 0.1px #ddd;
  &:last-child {
    border-bottom: none;
  }
}

.btn.LayerToggle {
  background-color: rgba(#fff, 0.8) !important;
  box-sizing: border-box;
  left: 1rem;
  opacity: 1;
  position: absolute;
  top: 4rem;
  width: $toggle-button-width !important;
  z-index: 1150;
  &:hover {
    background-color: #eee !important;
    color: #000 !important;
  }
  &.HasLayers {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-width: 0px;
  }
  &.Active {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    z-index: 1200;
  }
}

.btn.LayerToggle.HasLayers.Active {
  border-bottom-color: $gray-800;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-width: 1px !important;
}

.LayerInteraction {
  background-color: rgba(#fff, 0.8);
  border-radius: $border-radius-lg;
  border-top-left-radius: 0px;
  border: solid $gray-800 1px;
  left: $padding-size + 1;
  padding: $padding-size;
  position: absolute;
  top: 53px + 48px;
  width: 60vw;
  z-index: 1000;
  .LayerSelect {
    > .col-4 {
      padding-left: 0px;
      &:first-child {
        padding-left: 1rem;
      }
    }
    h6 {
      font-size: 0.9rem;
    }
    .LayerGroup {
      &:last-child {
        padding-bottom: 0px !important;
      }
    }
  }
}
