@import "../../../scss/common.module";

$toggle-button-width: 100px;

.Layers {
  position: absolute;
  z-index: 1100;
}

.ActiveLayers {
  padding: $padding-size / 2;
  min-width: calc(#{$toggle-button-width} + #{$border-radius});
  background-color: rgba(#fff, 0.8);
  border: solid $gray-800 1px;
  border-radius: $border-radius-lg;
  border-top-left-radius: 0px;
  position: relative;
  left: $padding-size + 1px;
  top: 52px;
  z-index: 1050;
  .LayerLabel {
    font-size: 75%;
    margin-bottom: 2px;
  }
}

.btn.LayerToggle {
  z-index: 1150;
  opacity: 1;
  width: $toggle-button-width !important;
  box-sizing: border-box;
  background-color: rgba(#fff, 0.8) !important;
  &.HasLayers {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-width: 0px;
  }
  &.Active {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    // border-right-color: #fff !important;
    border-right: 0px !important;
    z-index: 1200;
    width: $toggle-button-width - 1 !important;
  }
}

.btn.LayerToggle.HasLayers.Active {
  border-bottom-width: 1px !important;
  border-bottom-color: $gray-800;
  border-bottom-left-radius: $border-radius;
}

.LayerInteraction {
  position: absolute;
  top: $padding-size + 1;
  left: $toggle-button-width + $padding-size - 1;
  width: 50vw;
  z-index: 1000;
  background-color: rgba(#fff, 0.8);
  border: solid $gray-800 1px;
  border-radius: $border-radius-lg;
  border-top-left-radius: 0px;
  padding: $padding-size;
  .LayerSelect {
    h6 {
      font-size: 0.9rem;
    }
    .LayerGroup {
      &:last-child {
        padding-bottom: 0px !important;
      }
    }
  }
}
