.CargoShip {
  .cls-1,
  .cls-2,
  .cls-3,
  .cls-4,
  .cls-5,
  .cls-6,
  .cls-7,
  .cls-8 {
    stroke: #215a58;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
  }
  .cls-1 {
    fill: url(#cargoship_linear-gradient);
  }
  .cls-2 {
    fill: url(#cargoship_linear-gradient-2);
  }
  .cls-3 {
    fill: url(#cargoship_linear-gradient-3);
  }
  .cls-4 {
    fill: url(#cargoship_linear-gradient-4);
  }
  .cls-5 {
    fill: url(#cargoship_linear-gradient-5);
  }
  .cls-6 {
    fill: url(#cargoship_linear-gradient-6);
  }
  .cls-7 {
    fill: url(#cargoship_linear-gradient-7);
  }
  .cls-8 {
    fill: url(#cargoship_linear-gradient-8);
  }
}
