.Factory {
  .cls-1,
  .cls-10,
  .cls-11,
  .cls-12,
  .cls-13,
  .cls-14,
  .cls-15,
  .cls-2,
  .cls-3,
  .cls-4,
  .cls-5,
  .cls-6,
  .cls-7,
  .cls-8,
  .cls-9 {
    stroke: #215a58;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
  }
  .cls-1 {
    fill: url(#FACTORY_GRADIENT_BLUE);
  }
  .cls-2 {
    fill: url(#FACTORY_GRADIENT_BLUE-2);
  }
  .cls-3 {
    fill: url(#FACTORY_GRADIENT_BLUE-3);
  }
  .cls-4 {
    fill: url(#FACTORY_GRADIENT_BLUE-4);
  }
  .cls-5 {
    fill: url(#FACTORY_GRADIENT_BLUE-5);
  }
  .cls-6 {
    fill: url(#FACTORY_GRADIENT_BLUE-6);
  }
  .cls-7 {
    fill: url(#FACTORY_GRADIENT_BLUE-7);
  }
  .cls-8 {
    fill: url(#FACTORY_GRADIENT_BLUE-8);
  }
  .cls-9 {
    fill: url(#FACTORY_GRADIENT_BLUE-9);
  }
  .cls-10 {
    fill: url(#FACTORY_GRADIENT_BLUE-10);
  }
  .cls-11 {
    fill: url(#FACTORY_GRADIENT_BLUE-11);
  }
  .cls-12 {
    fill: url(#FACTORY_GRADIENT_BLUE-12);
  }
  .cls-13 {
    fill: url(#FACTORY_GRADIENT_BLUE-13);
  }
  .cls-14 {
    fill: url(#FACTORY_GRADIENT_BLUE-14);
  }
  .cls-15 {
    fill: url(#FACTORY_GRADIENT_BLUE-15);
  }
}
