.House1 {
  .cls-1,
  .cls-2,
  .cls-3,
  .cls-4 {
    stroke: #215a58;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
  }
  .cls-1 {
    fill: url(#GRADIENT_BLUE);
  }
  .cls-2 {
    fill: none;
  }
  .cls-3 {
    fill: url(#GRADIENT_BLUE-2);
  }
  .cls-4 {
    fill: url(#GRADIENT_BLUE-4);
  }
}
