.DrainPopover1 {
  .cls-18,
  .cls-19,
  .cls-6 {
    fill: #fff;
  }
  .cls-18,
  .cls-6 {
    stroke: #231f20;
  }
  .cls-12,
  .cls-14,
  .cls-18,
  .cls-6 {
    stroke-miterlimit: 10;
  }
  .cls-3 {
    fill: #010101;
    opacity: 0.1;
  }
  .cls-15,
  .cls-23,
  .cls-5 {
    fill: #5f9c98;
  }
  .cls-5 {
    opacity: 0.2;
  }
  .cls-6,
  .cls-7 {
    stroke-width: 0.5px;
  }
  .cls-12,
  .cls-14,
  .cls-17,
  .cls-7,
  .cls-8,
  .cls-9 {
    fill: none;
  }
  .cls-17,
  .cls-19,
  .cls-7,
  .cls-8 {
    stroke: #010101;
  }
  .cls-17,
  .cls-19,
  .cls-7,
  .cls-8,
  .cls-9 {
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .cls-8 {
    stroke-width: 0.25px;
  }
  .cls-12,
  .cls-14,
  .cls-9 {
    stroke: #5f9c98;
  }
  .cls-23 {
    opacity: 0.4;
  }
  .cls-12,
  .cls-14 {
    stroke-dasharray: 5 5;
  }
  .cls-12 {
    opacity: 0.25;
  }
  .cls-13 {
    opacity: 0.7;
  }
  .cls-14 {
    stroke-width: 2px;
  }
  .cls-18,
  .cls-19 {
    stroke-width: 0.15px;
  }
  .cls-23 {
    font-size: 5.76px;
    font-family: MyriadPro-Regular, Myriad Pro;
    letter-spacing: 0.01em;
  }
  .cls-24 {
    letter-spacing: 0;
  }
  .cls-25 {
    letter-spacing: -0.04em;
  }
  .cls-26 {
    letter-spacing: -0.01em;
  }
}
