.ShipPopover3 {
  fill: #eee !important;
  background-color: #eee !important;
  rect {
    background-color: #eee !important;
    fill: #eee !important;
    fill-opacity: 1;
  }
  .cls-20,
  .cls-22,
  .cls-3,
  .cls-4,
  .cls-7,
  .cls-8 {
    fill: none;
  }
  .cls-10,
  .cls-11,
  .cls-12,
  .cls-14,
  .cls-15,
  .cls-20,
  .cls-22,
  .cls-3,
  .cls-4,
  .cls-5 {
    stroke-miterlimit: 10;
  }
  .cls-11,
  .cls-3 {
    stroke-width: 0.5px;
  }
  .cls-20 {
    stroke-dasharray: 5 5;
  }
  .cls-10 {
    fill: #fff;
  }
  .cls-10,
  .cls-11,
  .cls-12,
  .cls-3,
  .cls-4,
  .cls-5,
  .cls-8 {
    stroke: #010101;
  }
  .cls-10,
  .cls-12,
  .cls-14,
  .cls-15,
  .cls-4,
  .cls-5 {
    stroke-width: 0.25px;
  }
  .cls-5 {
    fill: #736263;
    opacity: 0.7;
  }
  .cls-18 {
    fill: #5f9c98;
  }
  .cls-7 {
    stroke: #fff;
    stroke-width: 0.01px;
  }
  .cls-7,
  .cls-8 {
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .cls-14 {
    fill: #d66968;
  }
  .cls-14,
  .cls-15 {
    stroke: #231f20;
  }
  .cls-11,
  .cls-12 {
    fill: #f3f1f0;
  }
  .cls-14 {
    opacity: 0.8;
  }
  .cls-15 {
    fill: #b8b6b6;
  }
  .cls-16 {
    fill: #010101;
  }
  .cls-18 {
    opacity: 0.4;
  }
  .cls-20,
  .cls-22 {
    stroke: #818181;
    opacity: 0.3;
  }
  .cls-22 {
    font-size: 10.77px;
    stroke-width: 0.75px;
    font-family: MyriadPro-Regular, Myriad Pro;
  }
  .cls-24 {
    letter-spacing: -0.04em;
  }
  .cls-25 {
    letter-spacing: -0.01em;
  }
}
