@import "../scss/common.module";

$example-color-background: $gray-800;

.ProtectBG {
  background-color: rgb(80, 140, 130);
  color: white !important;
}
.AccommodateBG {
  background-color: #ffc107;
  color: #333 !important;
}

.RetreatBG {
  background-color: #dc3545;
  color: white !important;
}

.AvoidBG {
  background-color: #17a2b8;
  color: white !important;
}

.Annotation {
  border-left: 0 !important;
}

.Strategies,
.Narratives {
  color: $gray-700;

  font-size: 120%;

  h2 {
    // font-size: 130%;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .Post {
    .Sidebar {
      border-left: solid 1px $gray-200;
      padding: 1.5rem;
      background-color: $gray-100;
      border-left: solid 1px $gray-500;
      border-right: solid 1px $gray-500;
      font-size: 80%;
      ul {
        padding-left: 1rem;
        li {
          margin-bottom: 0.25rem;
          font-weight: 400;
        }
      }
    }

    h2,
    h3 {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 130%;

      &:first-child {
        margin-top: 0rem;
      }
    }
  }

  .MoreInfo {
    .Benefits {
      // background-color: lighten($success, 56%);
      h2 {
        margin-bottom: 0.5rem;
        font-weight: 600;
        color: $success;
        padding-bottom: 0.5rem;
        // border-bottom: solid 1px $success;
      }
    }
    .Challenges {
      // background-color: lighten($danger, 43%);
      h2 {
        margin-bottom: 0.5rem;
        font-weight: 600;
        color: $danger;
        padding-bottom: 0.5rem;
        // border-bottom: solid 1px $danger;
      }
    }

    .col {
      // border-right: solid 1px $gray-400;
      &:last-child {
        border-right: 0px;
      }
      padding: 1.5rem;
      font-size: 75%;
      ul {
        padding-left: 1.5rem;
      }
      h2 {
        font-weight: 600;
      }
    }
    .Annotation,
    .Illustration {
      border-bottom: solid 1px $gray-400;
      border-left: none;
    }
  }

  .col.Illustration {
    border-right: 0px;
    font-size: 90%;
    img {
      width: 100%;
      max-width: 100%;
      // margin-top: -3rem;
      margin-bottom: -15rem;
    }
  }

  .col.Annotation {
    font-size: 100%;
    border-right: 0px;
  }

  .Types,
  .Illustration {
    // border-right: solid 1px $gray-400;
    &:last-child {
      border-right: 0px;
    }
    padding: 1.5rem;
    font-size: 75%;
    ul {
      padding-left: 1.5rem;
    }
    h2 {
      font-weight: 600;
    }
  }

  .Types {
    // background-color: $gray-100;
  }

  .Images {
    font-weight: 600;
    font-size: 80%;
    background-color: $gray-800;
    color: white;
    padding: 1.5rem;
    img {
      border: solid 1px $gray-600;
    }
    h2 {
      padding-left: 2rem;
      margin-bottom: 0;
      font-size: 2rem;
      font-weight: 600;
    }
    .col-4 {
      padding-top: 1.5rem;
    }
  }

  .Examples {
    font-size: 85%;
    line-height: 145%;
    color: white;
    background-color: lighten($example-color-background, 10%);
    border-top: solid $example-color-background 3px;

    .ExamplesTitle {
      padding: 1.5rem;
      // text-align: center;
      h2 {
        padding-left: 0.5rem;
        margin-bottom: 0;
        font-size: 2rem;
        font-weight: 600;
      }
    }

    h3 {
      color: lighten($brand, 40%);
      font-size: 140%;
      margin-top: 0rem;
    }

    h4 {
      color: lighten($brand, 45%);
      font-size: 110%;
      // font-style: italic;
      margin-top: -0.5rem;
      margin-bottom: 1rem;
    }

    p:first-of-type {
      padding-top: 1rem;
      border-top: solid $example-color-background 2px;
    }

    p:last-child {
      margin-bottom: 0rem;
    }

    a {
      color: $color-brand-light;
    }

    .Example {
      // padding: 1.5rem;
      padding: 1rem;
      // padding-top: 2rem;
      // padding-bottom: 2rem;
    }
  }
}

.ImagesTitle {
  margin-bottom: 2rem;
}

.footnotes {
  font-size: 80%;
  // background-color: $gray-100;

  li {
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 0px;
    display: inline;
  }
}
