.HeavyRain {
  .RainLine {
    stroke: #264b70;
    stroke-dasharray: 4;
    stroke-dashoffset: 1;
    stroke-miterlimit: 10;
    stroke-width: 0.5;
    fill: none;
    animation: dash 0.5s linear infinite;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 40;
    }
  }
}
