.FoodSecurityTableau {
  svg {
    background-image: linear-gradient(#bbddff, #fff);
    border: solid #666 1px;
  }
}

.cls-10,
.cls-15,
.cls-20,
.cls-26,
.cls-27,
.cls-8,
.cls-9 {
  fill: none;
}
.cls-2 {
  fill: #231f20;
}
.cls-21,
.cls-4 {
  opacity: 0.9;
}
.cls-4 {
  fill: #565656;
}
.cls-14,
.cls-6 {
  fill: #7e8561;
}
.cls-6 {
  opacity: 0.5;
}
.cls-7 {
  fill: #7f7f7f;
}
.cls-8 {
  stroke: #7f7f7f;
}
.cls-10,
.cls-20,
.cls-21,
.cls-26,
.cls-27,
.cls-8,
.cls-9 {
  stroke-linecap: round;
  stroke-linejoin: round;
}
.cls-10,
.cls-15,
.cls-8 {
  stroke-width: 0.25px;
}
.cls-10,
.cls-21,
.cls-23,
.cls-26,
.cls-9 {
  stroke: #000;
}
.cls-27,
.cls-9 {
  stroke-width: 0.5px;
}
.cls-15,
.cls-23 {
  stroke-miterlimit: 10;
}
.cls-16 {
  fill: #fff;
}
.cls-15,
.cls-20 {
  stroke: #7e8561;
}
.cls-21 {
  stroke-width: 0.2px;
}
.cls-20 {
  stroke-width: 0.23px;
}
.cls-21 {
  fill: #c3cc8d;
}
.cls-23,
.cls-25 {
  fill: #704242;
}
.cls-24 {
  fill: #b3b3b3;
}
.cls-26 {
  stroke-width: 0.58px;
}
.cls-27 {
  stroke: #060808;
}
.cls-30 {
  fill: #264b70;
}
