.FoodSecurityTableau {
  svg {
    margin-top: 240px;
  }
  .groundwater {
    .saltwater-wedge {
      fill: #436689;
    }
    .fresh-water {
      fill: #6f90c1;
    }
    .mean-sea-level {
      fill: #264b70;
    }
    .ground {
      fill: #565656
    }
    .sea-surge {
      fill: #083860;
    }
    #groundwater-1,
    #groundwater-2 {
      path {
        visibility: hidden;
      }
    }
  }

  #present {
    opacity: 0.2;
  }
  #near-future {
    opacity: 0.2;
  }
  #future {
    opacity: 0.2;
  }
  .invisible {
    visibility: hidden;
  }
  .cls-1,
  .cls-14,
  .cls-17,
  .cls-18,
  .cls-6,
  .cls-9 {
    fill: none;
  }
  .cls-2 {
    fill: #231f20;
  }
  .cls-6 {
    stroke: #fff;
    stroke-width: 3px;
  }
  .cls-12,
  .cls-13,
  .cls-17,
  .cls-18,
  .cls-6 {
    stroke-miterlimit: 10;
  }
  .cls-17,
  .cls-6 {
    stroke-dasharray: 4;
  }
  .cls-7 {
    fill: #264b70;
  }
  .cls-12,
  .cls-13,
  .cls-14,
  .cls-18,
  .cls-9 {
    stroke: #000;
  }
  .cls-14,
  .cls-9 {
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .cls-9 {
    stroke-width: 0.58px;
  }
  .cls-10,
  .cls-12 {
    fill: #704242;
  }
  .cls-11 {
    fill: #b3b3b3;
  }
  .cls-13 {
    fill: #7f7f7f;
  }
  .cls-14,
  .cls-18 {
    stroke-width: 2px;
  }
  .cls-17 {
    stroke: #264b70;
    stroke-width: 0.5px;
  }
  .cls-18 {
    stroke-dasharray: 4 4;
  }
}
