.FoodSecurityTableau {
  svg {
    margin-top: 50px;
  }
  .groundwater {
    .saltwater-wedge {
      fill: #436689;
    }
    .fresh-water {
      fill: #6f90c1;
    }
    .mean-sea-level {
      fill: #264b70;
    }
    .ground {
      fill: #565656;
    }
    .sea-surge {
      fill: #083860;
    }
    #groundwater-1,
    #groundwater-2 {
      path {
        visibility: hidden;
      }
    }
  }

  #present {
    opacity: 0.2;
  }
  #near-future {
    opacity: 0.2;
  }
  #future {
    opacity: 0.2;
  }
  .invisible {
    visibility: hidden;
  }
  .cls-1 {
    fill: #7f7f7f;
  }
  .cls-1,
  .cls-10,
  .cls-11,
  .cls-12,
  .cls-13,
  .cls-3,
  .cls-8 {
    stroke: #000;
  }
  .cls-1,
  .cls-13 {
    stroke-miterlimit: 10;
  }
  .cls-10,
  .cls-11,
  .cls-12,
  .cls-3,
  .cls-9 {
    fill: none;
  }
  .cls-10,
  .cls-11,
  .cls-12,
  .cls-3,
  .cls-8,
  .cls-9 {
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .cls-3 {
    stroke-width: 0.25px;
  }
  .cls-4 {
    fill: #b3b3b3;
  }
  .cls-13,
  .cls-5 {
    fill: #704242;
  }
  .cls-6 {
    opacity: 0.5;
  }
  .cls-7 {
    fill: #c9dcd8;
  }
  .cls-8 {
    fill: #c3cc8d;
    stroke-width: 0.2px;
    opacity: 0.9;
  }
  .cls-9 {
    stroke: #060808;
  }
  .cls-10,
  .cls-9 {
    stroke-width: 0.5px;
  }
  .cls-11 {
    stroke-width: 0.58px;
  }
  .cls-12 {
    stroke-width: 2px;
  }
  .cls-1a,
  .cls-6 {
    fill: none;
  }
  .cls-2a {
    fill: #231f20;
  }
  .cls-5a {
    fill: #264b70;
  }
  .cls-6a {
    stroke: #264b70;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
    stroke-dasharray: 4;
    animation: dash 1s linear infinite;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 40;
    }
  }
}
