.reeds {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation:
    stroke-width 1s,
    stroke 1s,
    width 1s,
    height 1s;
}

.reeds-st0 {
  stroke: #88bb55;
  stroke-width: 0.2;
}

.reeds-st1 {
  stroke: #99cc77;
  stroke-width: 0.4;
}

.reeds-st2 {
  stroke: #A0522D;
  stroke-width: 0.2;
}

.reeds-st3 {
  stroke: #8B4513;
  stroke-width: 0.1;
}

.Reeds:hover {
  cursor: pointer;
  background-color: #eee;
  .reeds {
    stroke-width: 0.5;
  }
}