.Citations {
  .footnotes {
    hr {
      display: none;
    }
  }
  ol {
    padding-left: 0;
    columns: 4;
    font-size: 0.75rem;
    li {
      word-wrap: break-word;
      break-inside: avoid-column;
      margin-left: 1.5rem;
    }
  }
}