.cls-1,
.cls-10,
.cls-11,
.cls-12,
.cls-13,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9 {
  stroke: #1f5957;
  stroke-miterlimit: 10;
}
.cls-1 {
  fill: url(#linear-gradient);
}
.cls-2 {
  fill: url(#linear-gradient-2);
}
.cls-3 {
  fill: url(#linear-gradient-3);
}
.cls-4 {
  fill: url(#linear-gradient-4);
}
.cls-5 {
  fill: url(#linear-gradient-5);
}
.cls-6 {
  fill: url(#linear-gradient-6);
}
.cls-7 {
  fill: url(#linear-gradient-7);
}
.cls-8 {
  fill: url(#linear-gradient-8);
}
.cls-9 {
  fill: url(#linear-gradient-10);
}
.cls-10 {
  fill: url(#linear-gradient-12);
}
.cls-11 {
  fill: url(#linear-gradient-14);
}
.cls-12 {
  fill: url(#linear-gradient-16);
}
.cls-13 {
  fill: url(#linear-gradient-17);
}
