@import "../../../scss/common.module";

$toggle-button-width: 112px;

.btn.ThemeToggle {
  background-color: rgba(#fff, 0.8) !important;
  box-sizing: border-box;
  left: 1rem !important;
  opacity: 1;
  position: absolute;
  top: 1rem;
  width: $toggle-button-width !important;
  z-index: 1050;
  &:hover {
    background-color: #eee !important;
    color: #000 !important;
  }
  &.Active {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    width: $toggle-button-width - 1 !important;
    z-index: 1200;
  }
}

.ThemeInteraction {
  background-color: rgba(#fff, 0.95);
  border-bottom-left-radius: $border-radius;
  border-bottom-left-radius: 0px;
  border-radius: $border-radius;
  border-top-left-radius: 0px;
  border: solid $gray-800 1px;
  display: flex;
  flex-direction: column;
  left: $padding-size + 1px;
  position: absolute;
  top: 53px;
  width: 170px;
  z-index: 2500;
}

.ThemeCardWrapper {
  &:last-child .ThemeCard {
    border-bottom: 0;
    border-right: 0;
    margin-right: 0;
  }
}
