.SVGFrame {
  background-color: #eee;
  width: 100%;
  > svg {
    // width: 100%;
    // height: 100%;
    background-color: rgba(210, 220, 230, 0.8);
    // border: solid 1px #579;
    border-bottom: solid black 1px;
  }
  svg.Example1 {
    background-color: rgba(150, 160, 170, 0.8);
  }
}