.Fish {
  .cls-1 {
    fill: #599f98;
  }
  .cls-1,
  .cls-2 {
    stroke: #215a58;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.25px;
  }
  .cls-2 {
    fill: none;
  }
}
