.DrainPopover3 {
  .cls-19,
  .cls-21,
  .cls-22 {
    fill: #fff;
  }
  .cls-11,
  .cls-17,
  .cls-2,
  .cls-34,
  .cls-6,
  .cls-7 {
    fill: none;
  }
  .cls-2,
  .cls-22,
  .cls-34,
  .cls-6 {
    stroke: #010101;
  }
  .cls-2,
  .cls-22,
  .cls-34,
  .cls-6,
  .cls-7 {
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .cls-14 {
    opacity: 0.1;
  }
  .cls-4 {
    fill: #010101;
    opacity: 0.05;
  }
  .cls-19,
  .cls-6 {
    stroke-width: 0.5px;
  }
  .cls-11,
  .cls-7 {
    stroke: #5f9c98;
  }
  .cls-14,
  .cls-15,
  .cls-27,
  .cls-8 {
    fill: #5f9c98;
  }
  .cls-8 {
    opacity: 0.15;
  }
  .cls-11,
  .cls-15 {
    opacity: 0.25;
  }
  .cls-11,
  .cls-17,
  .cls-19,
  .cls-21 {
    stroke-miterlimit: 10;
  }
  .cls-11,
  .cls-17 {
    stroke-dasharray: 5 5;
  }
  .cls-27 {
    opacity: 0.4;
  }
  .cls-16 {
    opacity: 0.7;
  }
  .cls-17,
  .cls-19 {
    stroke: #d66969;
  }
  .cls-17 {
    stroke-width: 2px;
  }
  .cls-18,
  .cls-20 {
    fill: #d66969;
  }
  .cls-20 {
    opacity: 0.2;
  }
  .cls-21 {
    stroke: #231f20;
  }
  .cls-21,
  .cls-22 {
    stroke-width: 0.15px;
  }
  .cls-27 {
    font-size: 5.74px;
    font-family: MyriadPro-Regular, Myriad Pro;
  }
  .cls-28 {
    letter-spacing: 0.01em;
  }
  .cls-34 {
    stroke-width: 0.25px;
  }
}
