.Popover.Red {
  cursor: pointer;
  // rect,
  // path,
  // polygon {

  // }
  .Textbox rect {
    fill: #cc3333;
    stroke: #990000;
  }
  &:hover {
    svg:not(.DoNotHighlight) {
      rect,
      path,
      polygon {
        fill: #f00;
      }
    }
  }
}
