.ShipPopover1 {
  .cls-16,
  .cls-6 {
    fill: #fff;
  }
  .cls-24,
  .cls-25 {
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .cls-17,
  .cls-18,
  .cls-2,
  .cls-24,
  .cls-25,
  .cls-4,
  .cls-9 {
    fill: none;
  }
  .cls-2 {
    stroke: #d66969;
    opacity: 0.5;
  }
  .cls-15,
  .cls-17,
  .cls-18,
  .cls-2,
  .cls-4,
  .cls-6,
  .cls-8,
  .cls-9 {
    stroke-miterlimit: 10;
  }
  .cls-18,
  .cls-2 {
    stroke-width: 0.5px;
  }
  .cls-2,
  .cls-4 {
    stroke-dasharray: 5 5;
  }
  .cls-17,
  .cls-18,
  .cls-25,
  .cls-6 {
    stroke: #010101;
  }
  .cls-4,
  .cls-9 {
    stroke: #818181;
    opacity: 0.3;
  }
  .cls-15,
  .cls-17,
  .cls-6,
  .cls-8 {
    stroke-width: 0.25px;
  }
  .cls-7 {
    fill: #010101;
  }
  .cls-8 {
    fill: #b8b6b6;
  }
  .cls-15,
  .cls-8 {
    stroke: #231f20;
  }
  .cls-9 {
    font-size: 11.4px;
    stroke-width: 0.75px;
    font-family: MyriadPro-Regular, Myriad Pro;
  }
  .cls-11 {
    letter-spacing: -0.04em;
  }
  .cls-12 {
    letter-spacing: -0.01em;
  }
  .cls-15 {
    fill: #f0efef;
  }
  .cls-24 {
    stroke: #fff;
    stroke-width: 0.01px;
  }
}
