.ShippingPopover {
  .st1 {
    fill: #fff;
    stroke: #010101;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
  }
  .st2 {
    fill: #010101;
  }
  .st3,
  .st4 {
    fill: #b8b6b6;
    stroke: #231f20;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
  }
  .st4 {
    fill: #f0efef;
  }
  .st5 {
    fill: #fff;
  }
  .st6,
  .st7 {
    fill: none;
    stroke: #010101;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
  }
  .st7 {
    stroke-width: 0.5;
  }
  .st13,
  .st14 {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .st13 {
    stroke-width: 0.0142;
    stroke: #fff;
  }
  .st14 {
    stroke: #010101;
  }
}
