.Popover.Red {
  cursor: pointer;
  svg:not(.DoNotHighlight) {
    rect,
    path,
    polygon {
      fill: #cc3333;
      stroke: #990000;
    }
    polyline,
    line {
      stroke: #cc3333;
    }
    transition: fill 0.5s;
  }
  .Textbox rect {
    fill: #cc3333;
    stroke: #990000;
  }
  &:hover {
    svg:not(.DoNotHighlight) {
      rect,
      path,
      polygon {
        fill: #f00;
      }
      polyline,
      line {
        stroke: #f00;
        fill: none;
      }
    }
  }
}
