@import '../../scss/common.module';

.ALink {
  border-bottom: solid 1px $color-brand-light;
  i {
    color: $color-brand-light;
  }
  &:hover {
    text-decoration: none;
    i {
      color: $color-brand;
    }
  }
}