@import "../../scss/common.module";

.Footer {
  border-top: solid 1px $gray-600;
  margin-top: $padding-size;
  &.bg-dark {
    background-color: $color-brand-background !important;
  }
  h6 {
    color: $gray-500;
  }
}