@import "../../scss/common.module";

.Header {
  background-color: lighten($color-brand-background, 10%);
  border-bottom: solid 4px $example-color-background;
  color: white;
  padding-top: 28px;
  padding-bottom: 8px;
  // margin-top: $header-height - 4px;
  // position: fixed;
  // width: 100%;

  .Title {
    h1 {
      margin: 0rem;
      padding-left: 0rem;
      font-weight: 600;
      font-size: 150%;
    }
    h2 {
      margin: 0rem;
    }
  }
}
