$color-oak-leaves: #559944;
$color-oak-trunk: #654321;

.Oak {
  .OakCrown path {
    fill: lighten( $color-oak-leaves, 10%);
    stroke: darken($color-oak-leaves, 30%);
    stroke-width: 0.75px;
  }
  .OakTrunk path {
    fill: lighten($color-oak-trunk, 30%);
    stroke: $color-oak-trunk;
    stroke-width: 0.5px;
  }
}