.FoodSecuritySaltwaterWedge {
  .cls-1 {
    fill: none;
  }
  .cls-2 {
    fill: #599f98;
    stroke: #599f98;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
  }
  .cls-3 {
    fill: url(#pattern-circles);
    // fill: rgba(30, 30, 30, 0.5);
  }
}
