.MapToolbox {
  height: 30px;
  position: absolute;
  top: 4rem;
  // width: 150px;
  left: 1rem;
  z-index: 999;
  > div {
    margin-bottom: 1rem;
  }
  .btn {
    background-color: rgba(#fff, 0.8) !important;
    &:hover {
      background-color: #eee !important;
      color: #000 !important;
    }
  }
}