.MapToolbox {
  height: 30px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 150px;
  z-index: 1025;

  > div {
    margin-bottom: 1rem;
  }

  .btn {
    background-color: rgba(#fff, 0.8) !important;
    &:hover {
      background-color: #eee !important;
      color: #000 !important;
    }
  }
}