@import "../scss/common.module";

#Map {
  height: 60vh;
  border-bottom: solid $color-brand-background 1px;
}

.LayerToggle {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
  background-color: #fff !important;
  &:hover {
    background-color: #eee !important;
    color: #000 !important;
  }
}

.MapRow {
  > .col-12 {
    // margin-left: -1rem;
    // margin-right: -1rem;
    width: 100vw;
    padding: 0;
  }
}
