$color-oak-leaves: #559944;
$color-oak-trunk: #654321;

@mixin bird {
  fill: white;
  transform: scale(4);
  transform-origin: top left;
}

#BirdOnGround path { @include bird; }
#FlyingGull1 path { @include bird; }
#FlyingGull2 path { @include bird; }
#FlyingGull3 path { @include bird; }
.Oak {
  g.OakCrown path {
    fill: lighten( $color-oak-leaves, 10%);
    stroke: darken($color-oak-leaves, 30%);
    stroke-width: 0.75px;
  }
  g.OakTrunk path {
    fill: lighten($color-oak-trunk, 30%);
    stroke: $color-oak-trunk;
    stroke-width: 0.5px;
  }
}
#Roots {
  fill: lighten($color-oak-trunk, 30%);
  stroke: $color-oak-trunk;
  stroke-width: 0.5px;
}
#Well {
  fill: #999;
  stroke: #000;
  stroke-width: 0.5px;
  .Well {
    fill: #666;
  }
}
#Bush1 path {
  fill: lighten($color-oak-leaves, 20%);
  stroke: darken($color-oak-trunk, 20%);
  stroke-width: 0.5px;
  transform: scale(1.5);
}
#Cypress {
  .cls-18 {
    fill: $color-oak-leaves;
  }
}