@import "./bootstrap/functions";
@import "./bootstrap/variables";

$color-brand: $brand;
$color-brand-background: rgb(20, 35, 40);
$color-brand-light: lighten($brand, 20%);
$padding-size: $grid-gutter-width / 2;
$header-height: 73px;
$footer-height: 112px;
$example-color-background: $gray-800;

$color-green: rgb(80, 140, 130);
$color-yellow: #ffc107;
$color-red: #dc3545;
$color-teal: #17a2b8;

:export { brandBackground: $color-brand-background }
