@import "./common.module";

$navbar-height: 56px;

body {
  padding-top: $navbar-height;
  font-variant-numeric: lining-nums;
  min-height: calc(100vh - #{$navbar-height});
  // background-color: $gray-800;
  background-color: $color-brand-background;
}

a {
  font-weight: 500;
}

p {
  line-height: 1.6;
  font-size: 1.2rem;
}

.btn-xs {
  font-size: 0.7rem !important;
  padding: 0.2rem 0.3rem !important;
}

.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  // width: 320px;
  height: 100vh;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100vh;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 15px;
}

/*Left*/
.modal.left.fade .modal-dialog{
  // left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
       -o-transition: opacity 0.3s linear, left 0.3s ease-out;
          transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog{
  left: 0;
}
      
/*Right*/
.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
       -o-transition: opacity 0.3s linear, right 0.3s ease-out;
          transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0) !important;
  // opacity: 0.9;
  border-radius: 0 !important;
  border: none !important;
  h6 {
    color: white !important;
  }
}

.modal-header {
  background-color: rgba(0, 0, 0, 1) !important;
  color: white !important;
  border-bottom: none !important;
}

.modal-body {
  background-color: rgba(0, 0, 0, 0.8) !important;
  border-right: solid #000 1px !important;
}