@import "../../scss/common.module";

#Map {
  height: calc(100vh - #{$header-height} - #{$footer-height} + #{$padding-size});
  // border-bottom: solid $color-brand-background 1px;
  margin-bottom: -$padding-size;
}

.MapRow {
  > .col-12 {
    // margin-left: -1rem;
    // margin-right: -1rem;
    width: 100vw;
    padding: 0;
  }
}
