.MapControls {
  position: absolute;
  top: 1rem;
  z-index: 1025;
  // left: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  left: 0;
  right: 0;
  height: 30px;


  

  .btn {
    background-color: rgba(#fff, 0.8) !important;
    &:hover {
      background-color: #eee !important;
      color: #000 !important;
    }
  }
}