.Irrigation {
  .cls-1,
  .cls-2,
  .cls-3,
  .cls-4,
  .cls-5,
  .cls-6,
  .cls-7 {
    fill: none;
    stroke: #215a58;
    stroke-miterlimit: 10;
  }
  .cls-1 {
    stroke-width: 0.5px;
  }
  .cls-3,
  .cls-4,
  .cls-5,
  .cls-6,
  .cls-7 {
    stroke-width: 0.25px;
  }
  .cls-4 {
    stroke-dasharray: 1.07 1.07;
  }
  .cls-5 {
    stroke-dasharray: 0.92 0.92;
  }
  .cls-6 {
    stroke-dasharray: 1.02 1.02;
  }
  .cls-7 {
    stroke-dasharray: 0.98 0.98;
  }
}
