.PowerPlant {
  .cls-1,
  .cls-10,
  .cls-11,
  .cls-12,
  .cls-13,
  .cls-14,
  .cls-15,
  .cls-16,
  .cls-17,
  .cls-18,
  .cls-19,
  .cls-2,
  .cls-20,
  .cls-21,
  .cls-22,
  .cls-23,
  .cls-24,
  .cls-25,
  .cls-26,
  .cls-27,
  .cls-28,
  .cls-29,
  .cls-3,
  .cls-30,
  .cls-31,
  .cls-32,
  .cls-33,
  .cls-34,
  .cls-35,
  .cls-36,
  .cls-4,
  .cls-5,
  .cls-6,
  .cls-7,
  .cls-8,
  .cls-9 {
    stroke: #215a58;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
  }
  .cls-1 {
    fill: url(#GRADIENT_BLUE);
  }
  .cls-2 {
    fill: url(#GRADIENT_BLUE-2);
  }
  .cls-3 {
    fill: url(#GRADIENT_BLUE-3);
  }
  .cls-4 {
    fill: url(#GRADIENT_BLUE-4);
  }
  .cls-5 {
    fill: url(#GRADIENT_BLUE-5);
  }
  .cls-6 {
    fill: url(#GRADIENT_BLUE-6);
  }
  .cls-7 {
    fill: url(#GRADIENT_BLUE-7);
  }
  .cls-8 {
    fill: url(#GRADIENT_BLUE-8);
  }
  .cls-9 {
    fill: url(#GRADIENT_BLUE-9);
  }
  .cls-10 {
    fill: url(#GRADIENT_BLUE-10);
  }
  .cls-11 {
    fill: url(#GRADIENT_BLUE-11);
  }
  .cls-12 {
    fill: url(#GRADIENT_BLUE-12);
  }
  .cls-13 {
    fill: url(#GRADIENT_BLUE-13);
  }
  .cls-14 {
    fill: url(#GRADIENT_BLUE-14);
  }
  .cls-15 {
    fill: url(#GRADIENT_BLUE-15);
  }
  .cls-16 {
    fill: url(#GRADIENT_BLUE-16);
  }
  .cls-17 {
    fill: url(#GRADIENT_BLUE-17);
  }
  .cls-18 {
    fill: url(#GRADIENT_BLUE-18);
  }
  .cls-19 {
    fill: url(#GRADIENT_BLUE-19);
  }
  .cls-20 {
    fill: url(#GRADIENT_BLUE-20);
  }
  .cls-21 {
    fill: url(#GRADIENT_BLUE-21);
  }
  .cls-22 {
    fill: url(#GRADIENT_BLUE-22);
  }
  .cls-23 {
    fill: url(#GRADIENT_BLUE-23);
  }
  .cls-24 {
    fill: url(#GRADIENT_BLUE-24);
  }
  .cls-25 {
    fill: url(#GRADIENT_BLUE-25);
  }
  .cls-26 {
    fill: url(#GRADIENT_BLUE-26);
  }
  .cls-27 {
    fill: url(#GRADIENT_BLUE-27);
  }
  .cls-28 {
    fill: url(#GRADIENT_BLUE-28);
  }
  .cls-29 {
    fill: url(#GRADIENT_BLUE-29);
  }
  .cls-30 {
    fill: url(#GRADIENT_BLUE-30);
  }
  .cls-31 {
    fill: url(#GRADIENT_BLUE-31);
  }
  .cls-32 {
    fill: none;
  }
  .cls-33 {
    fill: url(#GRADIENT_BLUE-32);
  }
  .cls-34 {
    fill: url(#GRADIENT_BLUE-33);
  }
  .cls-35 {
    fill: url(#GRADIENT_BLUE-34);
  }
  .cls-36 {
    fill: url(#GRADIENT_BLUE-35);
  }
}
