@import "../../../scss/common.module";

$hotspotFill: #f30;

.Hotspot {
  circle {
    fill: $hotspotFill;
    stroke: $hotspotFill;
    fill-opacity: 0.5;
    stroke-width: 5;
    cursor: pointer;
    &:hover {
      fill: lighten($hotspotFill, 20%);
    }
    transition: fill 1s;
  }
}

#HotspotText {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  border: solid rgba(0, 0, 0, 0.5) 1px;
  width: 200px;
  height: auto;
  visibility: hidden;
  h1 {
    font-size: 1rem;
    color: $brand;
  }
  p {
    font-size: 0.85rem;

  }
  border-radius: $border-radius;
}