@import "../../../scss/common.module";

$hotspotFill: rgba(255, 60, 0, 0.7);

.Hotspot {
  circle {
    fill: $hotspotFill;
    stroke: $hotspotFill;
    fill-opacity: 0.5;
    stroke-width: 5;
    cursor: pointer;
    &:hover {
      fill: lighten($hotspotFill, 20%);
    }
    transition: fill 1s;
  }
}

#HotspotText {
  // padding: 10px;
  // background-color: rgba(255, 255, 255, 0.8);
  // background-color: rgba($color-brand-background, 0.95);
  position: absolute;
  // border: solid rgba(0, 0, 0, 0.5) 1px;
  // height: auto;
  // width: auto;
  z-index: 10000;
  visibility: hidden;
  left: 0;
  right: 0;
  // margin-left: auto;
  // margin-right: auto;
  width: 100px;
  h1 {
    font-size: 1rem;
    color: $color-brand-light;
  }
  p {
    font-size: 0.85rem;
    color: #fff;
  }
  border-radius: $border-radius;
}