@import "../../../scss/common.module";

$hotspotFill: rgba(255, 60, 0, 0.7);

circle.Hotspot {
  fill: $hotspotFill;
  stroke: $hotspotFill;
  fill-opacity: 0.5;
  stroke-width: 5;
  cursor: pointer;
  &:hover {
    fill: lighten($hotspotFill, 20%);
  }
  transition: fill 1s;
}

.HotspotText {
  // padding: 10px;
  // background-color: rgba(255, 255, 255, 0.8);
  // background-color: rgba($color-brand-background, 0.95);
  position: absolute;
  // border: solid rgba(0, 0, 0, 0.5) 1px;
  // height: auto;
  // width: auto;
  z-index: 10000;
  visibility: hidden;
  left: 0;
  right: 0;
  // margin-left: auto;
  // margin-right: auto;
  width: 100px;
  h1 {
    font-size: 1rem;
    color: $color-brand-light;
  }
  p {
    font-size: 0.85rem;
    color: #fff;
  }
  border-radius: $border-radius;
  button {
    align-self: flex-end;
    margin-bottom: 3px;
  }
  .NarrativeInput {
    flex-grow: 1;
    align-self: flex-end;
    .Stage {
      // border: solid 1px #999;
      color: #ccc;
      font-size: 0.8rem;
      &.ActiveStage {
        font-weight: 600;
      }
    }
    input[type="range"] {
      width: 100%;
      -webkit-appearance: none;
      background-color: #666;
      border-radius: 12px;
      padding: 3px;
      margin-bottom: 0;
    }
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: $brand;
      width: 18px;
      height: 18px;
      border-radius: 9px;
    }
    input[type="range"]:focus {
      // outline: solid 1px $brand;
      outline: none;
    }
  }
}
